<header>

    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" [routerLink]="['/home']">
            <img class="logo" src="../../../assets/images/logoDoggify.png" alt="logo">
        </a>
        <!-- <button (click)="onClick()" class="navbar-toggler" type="button" aria-label="Toggle navigation"
            data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"> -->


        <button (click)="onClick()" class="navbar-toggler" type="button" aria-label="Toggle navigation"
            data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false">

            <!-- <fa-icon [icon]="faBars" class="iconomenu" *ngIf="icono !== 'clicked'"></fa-icon>
            <fa-icon [icon]="faTimes" class="iconomenu" *ngIf="icono === 'clicked'"></fa-icon> -->
            <fa-icon [icon]="faBars" class="faBars" [ngClass]="{ faTimes :(icono === 'unclicked')}"></fa-icon>

        </button>



        <div class="navbar-collapse collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a (click)="onClickEnlace()" class="nav-link" [routerLink]="['/home']" data-toggle="collapse"
                        data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false">Inicio</a>
                </li>
                <li class="nav-item">
                    <a (click)="onClickEnlace()" class="nav-link" [routerLink]="['/lugares']" data-toggle="collapse"
                        data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false">
                        <fa-icon [icon]="faSearch" class="fa icon"></fa-icon>
                        Lugares
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Categorías</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li>

                <li class="nav-item">
                    <a (click)="onClickEnlace()" class="nav-link" [routerLink]="['/registro']" data-toggle="collapse"
                        data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false">

                        <fa-icon [icon]="faUserCircle" class="far icon"></fa-icon>

                        Regístrate
                    </a>
                </li>
                <li class="nav-item">
                    <a (click)="onClickEnlace()" class="nav-link btninisesion" [routerLink]="['/login']"
                        data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false">Inicia
                        sesión</a>
                </li>


            </ul>

        </div>
    </nav>



</header>