<div class="container">
    <div class="col-10 col-md-8 col-lg-6 col-xl-5 comentario">
        <div class="lugar">

            <div class="titulo">
                <p>Valora a </p>
                <h4> {{ lugar?.nombre }}</h4>

            </div>


        </div>


        <h4>Tu experiencia es muy valiosa</h4>



        <form class="formulario" [formGroup]="formComentarios" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <label>Tu valoración (entre 1 y 5 <fa-icon [icon]="faStar" class="star"></fa-icon>
                    <fa-icon [icon]="faStar" class="star"></fa-icon>
                    <fa-icon [icon]="faStar" class="star"></fa-icon>
                    <fa-icon [icon]="faStar" class="star"></fa-icon>
                    <fa-icon [icon]="faStar" class="star"></fa-icon>)
                </label>
                <select formControlName="valoracion" class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>

            </div>

            <div class="form-group">
                <label>Tu opinión</label>
                <textarea formControlName="comentario" rows="4" class="form-control"></textarea>
            </div>


            <input type="submit" value="Enviar" class="btn btn-primary btn-block">
        </form>

    </div>
</div>