<div class="hero">

    <h1>¿Lo llevarías a todos lados?</h1>

</div>



<div class="container col-12 col-sm-10">

    <!-- <div class="container"> -->


    <h2>Nosotros también</h2>

    <div class="row">

        <div class="col-12 col-sm-4 columna">
            <img src="../../../assets/images/home2.jpg" alt="">
        </div>

        <div class="col-12 col-sm-4 columna">
            <img src="../../../assets/images/home3.jpg" alt="">
        </div>

        <div class="col-12 col-sm-4 columna">
            <img src="../../../assets/images/home4.jpg" alt="">
        </div>

    </div>

    <h2>Difundimos la cultura pet-friendly</h2>
    <div class="row">

        <div class="col-12 col-sm-8 columna">

            <img src="../../../assets/images/dogs-wellcome.jpg" alt="">
        </div>

        <div class="col-12 col-sm-4 columna">

            <img style="margin-bottom: 20px;" src="../../../assets/images/home7.jpg" alt="">
            <img src="../../../assets/images/home8.jpg" alt="">
        </div>

    </div>

    <h2>Descubre el mundo con la mejor compañía</h2>

    <div class="row">


        <div class="col-12 col-sm-6 col-md-6 col-lg-4 columna">
            <img src="../../../assets/images/homehoteles.jpg" alt="">
            <h3>Hoteles</h3>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-4 columna">
            <img src="../../../assets/images/homeplayas.jpg" alt="">
            <h3>Playas</h3>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-4 columna">
            <img src="../../../assets/images/homecafes.jpg" alt="">
            <h3>Cafés</h3>
        </div>

    </div>


    <div class="row no-gutters registro">
        <div class="col-12 col-sm-12 col-md-6 col-lg-5 registro1">
            <h3>Comparte tu vida con tu fiel amigo</h3>
            <p>El lo haría por ti.</p>
            <button type="button" class="btn btn-outline-light btn-lg"><a href=""
                    [routerLink]="['/registro']">Regístrate</a></button>
        </div>
        <div class=" col-12 col-sm-12 col-md-6 col-lg-7 registro2">
            <img src="../../../assets/images/homeregistro.jpg" alt="">
        </div>

    </div>

</div>